<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="text-algin: center;">{{ blog.title_ja }}</h1>
    <h3 style="text-algin: center;">{{ blog.title_en }}</h3>
    <div><p>作成日:{{ blog.created_datetime }} &nbsp;
             更新日:{{ blog.updated_datetime }}</p></div>
    <div style="widh: 70%;margin: 0px auto;">
        <div style="margin: 60px 20px;">
            {{ blog.text_ja }}<br>
            {{ blog.text_en }}<br>
        </div>
    <div style="text-algin: center; margin-top: 50px">
        <a href="{% url 'blogs:index' %}">トップページに戻る</a>
    </div>
</body>
</html>