{% extends "blogs/base.html" %}
{% block content %}
{% load app_tags%}

  <h5 style="text-align: center;">記事一覧</h5>
  {% render_category_links %}
<!--    <hr />-->
  <div style="width: 70%;margin: 0px auto;">
    <hr />

    {% for detail in genre_details_obj.blog_set.all %}
    <div>
      <h4>{{ detail.title_ja }}</h4>
      <h4>{{ detail.title_en }}</h4>
      <div>{{ detail.text_ja | truncatechars:100 }}</div>
      <div>{{ detail.text_en | truncatechars:100 }}</div>
      <div style="text-align: right;">
        <a href="{% url 'blogs:detail' blog_id=detail.id %}">記事を読む</a>
      </div>
    </div>
    <hr />
    {% endfor %}
{% endblock %}
