{% extends "blogs/base.html" %}
{% load static %}

<!--ブロック開始-->
{% block content %}
<div class="container">
    <div class="row align-self-center">
         <h3 class="col bg-light" style="text-align: center;">Price/価格表</h3>
    </div>
    <br>

<!--    スクレイピングツールセクション-->
    <div class="row align-self-center">
         <h4 class="col">Scrayping Tool(スクレイピングツール)</h4>
    </div>
    <br>

    <div class="row align-self-center border border-secondary" style="text-align: center;">
        <p></p><br>
        <p>専門知識不要</p>
        <p>最小限の操作でご利用いただけます</p>
    </div>
<!--    問い合わせボタン-->

    <br>
<!--    機能説明-->
    <div class="row align-self-center">
        <p>プログラムが指定された時刻や間隔で<b>WEBサイトを巡回し、表示されているデータを取得保存します。</b>
        以下の機能などを追加可能。</p>
    </div>
    <div class="row align-self-center">
        <ul>
            <li>cvsやExellファイルで保存、保存先もGoogleDriveやDropboxなど、指定可能</li>
            <li>GmailやLINEに通知</li>
            <li>WEBページへ表示</li>
            <li>botと連携、自動購入</li>
            <li>PostgreSQL、 MySQLなどのデータベースへ保存、クエリ実行</li>
            <li>その他取得データを活用するためのプログラムと連携</li>
            <li>AWSやPVSへ設置、実行</li>
            <li>ユーザー独自の計算方法や実行方法の組み込み</li>
            <li>ランダムIPアドレスを使用してのスクレイピング</li>
            <li>並列実行処理による高速化</li>
        </ul>
    </div>
    <br>
    <div class="row align-self-center" style="text-align: center;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">機能</th>
                    <th scope="col">当社ツール</th>
                    <th scope="col">ノンコードツール等</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">Gmail、LINE通知</td>
                    <td>◎</td>
                    <td>△</td>
                </tr>
                <tr>
                    <td scope="row">WEBサイトへ表示</td>
                    <td>◎</td>
                    <td>☓</td>
                </tr>
                <tr>
                    <td scope="row">botと連携、自動購入実行</td>
                    <td>◎</td>
                    <td>☓</td>
                </tr>
                <tr>
                    <td scope="row">SQLデータベース連携</td>
                    <td>◎</td>
                    <td>☓</td>
                </tr>
                <tr>
                    <td scope="row">他社ツールと連携</td>
                    <td>◎</td>
                    <td>☓</td>
                </tr>
                <tr>
                    <td scope="row">AWS,VPS設置</td>
                    <td>◎</td>
                    <td>△</td>
                </tr>
                <tr>
                    <td scope="row">好みのカスタマイズ</td>
                    <td>◎</td>
                    <td>☓</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row align-self-center border border-secondary">
        <img src="{% static 'img/Scrayping_images_mono.jpg' %}"
             class="rounded mx-auto d-block" style="max-width: 100%;" alt="">
    </div>
    <br>
    <br>
    <h3>価格表</h3>
    <hr>
    <div class="row align-self-center" style="text-align: center;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">機能</th>
                    <th scope="col">単位</th>
                    <th scope="col">価格</th>
                    <th scope="col">備考</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">本体</td>
                    <td scope="row">１サイト</td>
                    <td scope="row">30,000</td>
                    <td scope="row">カテゴリー数１、項目数20迄、エクセルまたはCSV出力、
                        httpまたはヘッドレスブラウザ</td>
                </tr>
                <tr>
                    <td scope="row">追加カテゴリー</td>
                    <td scope="row">１カテゴリー</td>
                    <td scope="row">5,000</td>
                    <td scope="row">同サイト内カテゴリー追加</td>
                </tr>
                <tr>
                    <td scope="row">指定出力</td>
                    <td scope="row"></td>
                    <td scope="row">5,000</td>
                    <td scope="row">GoogleDrive、OneDrive</td>
                </tr>
                <tr>
                    <td scope="row">通知機能</td>
                    <td scope="row">１</td>
                    <td scope="row">3,000</td>
                    <td scope="row">LINE、Email、Gmail、Pushbullet</td>
                </tr>
                <tr>
                    <td scope="row">TwitterAPI通信</td>
                    <td scope="row"></td>
                    <td scope="row">10,000</td>
                    <td scope="row">Twitter_businessへのAPIKey取得料はクライアント負担</td>
                </tr>
                <tr>
                    <td scope="row">eBayAPI通信</td>
                    <td scope="row"></td>
                    <td scope="row">10,000</td>
                    <td scope="row">取得APIカテゴリ１項目</td>
                </tr>
                <tr>
                    <td scope="row">KeepaAPI通信</td>
                    <td scope="row"></td>
                    <td scope="row">10,000</td>
                    <td scope="row">会員登録料はクライアント負担</td>
                </tr>
                <tr>
                    <td scope="row">IPアドレスランダムスクレイピング</td>
                    <td scope="row"></td>
                    <td scope="row">5,000</td>
                    <td scope="row">ランダム生成したIPアドレスからスクレイピング実行、基本(Tor使用)</td>
                </tr>
                <tr>
                    <td scope="row">IPアドレスランダムスクレイピングNordVPN版</td>
                    <td scope="row"></td>
                    <td scope="row">10,000</td>
                    <td scope="row">LINE、Email、Gmail、Pushbullet</td>
                </tr>
                <tr>
                    <td scope="row">その他API接続</td>
                    <td scope="row"></td>
                    <td scope="row">別途見積もり</td>
                    <td scope="row"></td>
                </tr>
                <tr>
                    <td scope="row">非同期並列処理</td>
                    <td scope="row"></td>
                    <td scope="row">15,000</td>
                    <td scope="row">並列スクレイピングによる高速処理、</td>
                    (要、実行ハードウェアのスペック確認)
                </tr>
                <tr>
                    <td scope="row">外部SQLへの接続</td>
                    <td scope="row"></td>
                    <td scope="row">15,000</td>
                    <td scope="row">内部sqlite3使用は無料</td>
                </tr>
                <tr>
                    <td scope="row">クラウド環境実装</td>
                    <td scope="row"></td>
                    <td scope="row">5,000</td>
                    <td scope="row">有料サービス：ConohaVPS、さくらVPS（利用料はクライアント負担)
                    　無料サービス：pythonanywhere</td>
                </tr>
                <tr>
                    <td scope="row">AWS実装</td>
                    <td scope="row"></td>
                    <td scope="row">7,000</td>
                    <td scope="row">利用料はクライアント負担</td>
                </tr>
                <tr>
                    <td scope="row">WEBサイト表示</td>
                    <td scope="row"></td>
                    <td scope="row">50,000</td>
                    <td scope="row">Django4によるWEBサイト表示、DBはSqlite3、VPS利用料は
                    クライアント負担、スクレイピング機能以外の機能実装は別途見積もり</td>
                </tr>
                <tr>
                    <td scope="row">IPアドレスランダムスクレイピングNordVPN版</td>
                    <td scope="row"></td>
                    <td scope="row">10,000</td>
                    <td scope="row">LINE、Email、Gmail、Pushbullet</td>
                </tr>
                <tr>
                    <td scope="row">WEBサイトドメイン取得代行</td>
                    <td scope="row"></td>
                    <td scope="row">5,000</td>
                    <td scope="row">DNS設定込、※ドメイン取得料はクライアント負担</td>
                </tr>
                <tr>
                    <td scope="row">WEBサイト認証機能</td>
                    <td scope="row"></td>
                    <td scope="row">15,000</td>
                    <td scope="row">会員サイト用認証機能</td>
                </tr>
                <tr>
                    <td scope="row">ブログ機能実装</td>
                    <td scope="row"></td>
                    <td scope="row">30,000</td>
                    <td scope="row">一覧表示、本ページ表示、簡易デザイン、markdown対応、画像表示可能</td>
                </tr>
                <tr>
                    <td scope="row">WEBサイトデザイン</td>
                    <td scope="row"></td>
                    <td scope="row">70,000</td>
                    <td scope="row">デザイナーによるランディングページとデータ出力ページ基本料、
                    ページ追加は別途見積もり</td>
                </tr>
                <tr>
                    <td scope="row">WEBサイトその他機能追加</td>
                    <td scope="row"></td>
                    <td scope="row">別途見積もり</td>
                    <td scope="row"></td>
                </tr>
                <tr>
                    <td scope="row">スクレイピング、新着通知パック</td>
                    <td scope="row">１サイト</td>
                    <td scope="row">30,000</td>
                    <td scope="row">WEBページの新着を、LINE、Gmailに通知します。対象ページは１ジャンル
                        ※ジャンル追加は5,000円/１ページ</td>
                </tr>
            </tbody>
        </table>
</div>

<!--    問い合わせフォームへのリンクボタン-->
    <div class="row" style="text-align: center;">
        <div class="col"></div>
        <div class="col">
            <a href="{% url 'blogs:contact_form' %}" class="btn btn-secondary">問い合わせフォーム</a>
        </div>
        <div class="col"></div>
    </div>
    <br>
    <br>

{% endblock %}